[submodule "src/ingest-pipeline/airflow/dags/cwl/codex-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/codex-pipeline
	url = https://github.com/hubmapconsortium/codex-pipeline
[submodule "src/ingest-pipeline/submodules/ingest-validation-tools"]
	path = src/ingest-pipeline/submodules/ingest-validation-tools
	url = https://github.com/hubmapconsortium/ingest-validation-tools
[submodule "src/ingest-pipeline/airflow/dags/cwl/portal-containers"]
	path = src/ingest-pipeline/airflow/dags/cwl/portal-containers
	url = https://github.com/hubmapconsortium/portal-containers
[submodule "src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq"]
	path = src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq
	url = https://github.com/hubmapconsortium/salmon-rnaseq
[submodule "src/ingest-pipeline/airflow/dags/cwl/sc-atac-seq-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/sc-atac-seq-pipeline
	url = https://github.com/hubmapconsortium/sc-atac-seq-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/ome-tiff-pyramid"]
	path = src/ingest-pipeline/airflow/dags/cwl/ome-tiff-pyramid
	url = https://github.com/hubmapconsortium/ome-tiff-pyramid
[submodule "src/ingest-pipeline/airflow/dags/cwl/sci-atac-seq-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/sci-atac-seq-pipeline
	url = https://github.com/hubmapconsortium/sc-atac-seq-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/bulk-atac-seq"]
	path = src/ingest-pipeline/airflow/dags/cwl/bulk-atac-seq
	url = https://github.com/hubmapconsortium/sc-atac-seq-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/sn-atac-seq-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/sn-atac-seq-pipeline
	url = https://github.com/hubmapconsortium/sc-atac-seq-pipeline
[submodule "src/ingest-pipeline/submodules/ingest-validation-tests"]
	path = src/ingest-pipeline/submodules/ingest-validation-tests
	url = https://github.com/hubmapconsortium/ingest-validation-tests
[submodule "src/ingest-pipeline/airflow/dags/cwl/sprm"]
	path = src/ingest-pipeline/airflow/dags/cwl/sprm
	url = https://github.com/hubmapconsortium/sprm
[submodule "src/ingest-pipeline/submodules/manual-data-ingest"]
	path = src/ingest-pipeline/submodules/manual-data-ingest
	url = https://github.com/hubmapconsortium/manual-data-ingest.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/celldive-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/celldive-pipeline
	url = https://github.com//hubmapconsortium/celldive-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/azimuth-annotate"]
	path = src/ingest-pipeline/airflow/dags/cwl/azimuth-annotate
	url = https://github.com/hubmapconsortium/azimuth-annotate
[submodule "src/ingest-pipeline/airflow/dags/cwl/cfde-bdbag"]
	path = src/ingest-pipeline/airflow/dags/cwl/cfde-bdbag
	url = https://github.com/hubmapconsortium/cfde-bdbag.git
[submodule "src/ingest-pipeline/submodules/py-hubmapbags"]
	path = src/ingest-pipeline/submodules/py-hubmapbags
	url = https://github.com/hubmapconsortium/py-hubmapbags.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/pas-ftu-segmentation-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/pas-ftu-segmentation-pipeline
	url = https://github.com/hubmapconsortium/pas-ftu-segmentation-pipeline
[submodule "src/ingest-pipeline/submodules/hubmap-inventory"]
	path = src/ingest-pipeline/submodules/hubmap-inventory
	url = https://github.com/hubmapconsortium/hubmap-inventory.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/create-vis-symlink-archive"]
	path = src/ingest-pipeline/airflow/dags/cwl/create-vis-symlink-archive
	url = https://github.com/hubmapconsortium/create-vis-symlink-archive.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/mibi-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/mibi-pipeline
	url = https://github.com/hubmapconsortium/mibi-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/multiome-rna-atac-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/multiome-rna-atac-pipeline
	url = https://github.com/hubmapconsortium/multiome-rna-atac-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/deepcelltypes"]
	path = src/ingest-pipeline/airflow/dags/cwl/deepcelltypes
	url = https://github.com/hubmapconsortium/deepcelltypes
[submodule "src/ingest-pipeline/airflow/dags/cwl/phenocycler-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/phenocycler-pipeline
	url = https://github.com/hubmapconsortium/phenocycler-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/epic-obj-csv-to-mudata"]
	path = src/ingest-pipeline/airflow/dags/cwl/epic-obj-csv-to-mudata
	url = https://github.com/hubmapconsortium/epic-obj-csv-to-mudata
[submodule "src/ingest-pipeline/airflow/dags/cwl/kaggle-2-segmentation"]
	path = src/ingest-pipeline/airflow/dags/cwl/kaggle-2-segmentation
	url = https://github.com/hubmapconsortium/kaggle-2-segmentation
[submodule "src/ingest-pipeline/airflow/dags/cwl/visium-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/visium-pipeline
	url = https://github.com/hubmapconsortium/visium-pipeline
[submodule "src/ingest-pipeline/airflow/dags/cwl/imc-3d-segmentation"]
	path = src/ingest-pipeline/airflow/dags/cwl/imc-3d-segmentation
	url = https://github.com/hubmapconsortium/imc-3d-segmentation
