[submodule "src/ingest-pipeline/airflow/dags/cwl/codex-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/codex-pipeline
	url = git@github.com:hubmapconsortium/codex-pipeline.git
[submodule "src/ingest-pipeline/submodules/ingest-validation-tools"]
	path = src/ingest-pipeline/submodules/ingest-validation-tools
	url = git@github.com:hubmapconsortium/ingest-validation-tools.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/portal-containers"]
	path = src/ingest-pipeline/airflow/dags/cwl/portal-containers
	url = git@github.com:hubmapconsortium/portal-containers.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq"]
	path = src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq
	url = git@github.com:hubmapconsortium/salmon-rnaseq.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/sc-atac-seq-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/sc-atac-seq-pipeline
	url = git@github.com:hubmapconsortium/sc-atac-seq-pipeline.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/ome-tiff-pyramid"]
	path = src/ingest-pipeline/airflow/dags/cwl/ome-tiff-pyramid
	url = git@github.com:hubmapconsortium/ome-tiff-pyramid.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq-sciseq"]
	path = src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq-sciseq
	url = git@github.com:hubmapconsortium/salmon-rnaseq.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq-snareseq"]
	path = src/ingest-pipeline/airflow/dags/cwl/salmon-rnaseq-snareseq
	url = git@github.com:hubmapconsortium/salmon-rnaseq.git
[submodule "src/ingest-pipeline/airflow/dags/cwl/sci-atac-seq-pipeline"]
	path = src/ingest-pipeline/airflow/dags/cwl/sci-atac-seq-pipeline
	url = git@github.com:hubmapconsortium/sc-atac-seq-pipeline
