# git+https://github.com/hubmapconsortium/commons@main#egg=hubmap-commons==2.0.11
jsonref>=0.2,<1.0
hubmap-commons==2.0.14
prov==1.5.1
# pylibczi>=1.1.1
# tifffile==2020.12.8
tifffile==2020.09.3
xmltodict==0.13.0
pyimzml==1.5.2
apache-airflow[celery,crypto,postgres,redis,ssh,amazon]==2.5.3
airflow-multi-dagrun==2.3.1
jsonschema==4.0.0
fastjsonschema==2.16.2
requests==2.27.1
jsonref-ap==0.3.dev0
PyYAML==6.0
rdflib==5.0.0
rdflib-jsonld==0.6.2
Flask-OAuthlib==0.9.6
psycopg2-binary==2.9.5
# dataclasses==0.8
git+https://github.com/hubmapconsortium/cwltool.git@docker-gpu#egg=cwltool
git+https://github.com/hubmapconsortium/fastq-utils@v0.2.5#egg=hubmap-fastq-utils
# We need the dependencies of ingest-validation tools, but relative paths don't work
# -r ${CWD}/submodules/ingest-validation-tools/requirements.txt
tableschema==1.20.2
goodtables==2.5.4
globus-cli==3.10.1
yattag==1.14.0
frictionless==4.0.0
sqlalchemy==1.4.15
xmlschema==1.9.2
WTForms==2.3.3
hubmap_sdk==1.0.2
pandas==1.1.5
authlib==0.15.6
google-api-python-client==2.52.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
asana==3.2.1
python-magic==0.4.27
numpyencoder==0.3.0
tqdm==4.36.1
pandarallel==1.6.4
python-frontmatter>=1.0.0
asana==3.2.1
