git+git://github.com/hubmapconsortium/commons.git@master#egg=hubmap-commons
prov==1.5.1
pylibczi>=1.1.1
xmltodict>=0.12.0
pyimzml>=1.3.0
airflow-multi-dagrun>=1.2
cwltool>=2.0.20200122124526
jsonschema>=2.6.0
