
# This section maps ingest process names to the DAGs that initiate ingest for that process
[ingest_map]
MICROSCOPY.IMS.ALL = ingest_vanderbilt
MOCK.MICROSCOPY.IMS.ALL = mock_ingest_vanderbilt

[core]
timezone = US/Eastern
